APScheduler
captcha
certifi
cffi
Flask
Flask-APScheduler
Flask-Session
Flask-SQLAlchemy
Flask-WTF
flask_session_captcha
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
Jinja2
joblib
matplotlib
mysqlclient
nltk
numpy
oauthlib
pandas
pillow
python-dotenv
requests
requests-oauthlib
secure-smtplib
SQLAlchemy
tqdm
typing_extensions
urllib3
Werkzeug
WTForms
pymysql